{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "prettier/prettier": ["warn"],
    "import/extensions": [0],
    "react/jsx-filename-extension": ["off"],
    "no-use-before-define": ["off"],
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      }
    }
  }
}
